[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-ht"]
	path = themes/hugo-ht
	url = https://github.com/hongtaoh/hugo-ht
